#_com_liferay_product_navigation_product_menu_web_portlet_ProductMenuPortlet_sidenavSliderId {
	display:none;
}

#_com_liferay_document_library_web_portlet_DLAdminPortlet_ControlMenu {
	left: 0!important;
}

#_com_liferay_dynamic_data_mapping_web_portlet_DDMPortlet_ControlMenu {
	left: 0!important;
}

#_com_liferay_product_navigation_product_menu_web_portlet_ProductMenuPortlet_sidenavToggleId {
	display:none;
}

.control-menu-nav-category.user-control-group {
	display: none;
}

#wrapper {
	margin-top: 48px!important;
	padding: 0!important;
}